{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{Title}}
{% endblock %}

{% block body %}
<h1>{{Title}}</h1>

    
<form action="{%url 'save' %}" method="POST">
    {% csrf_token %}
    
        
        <input type="hidden"  name="title" value="{{Title}}"  >
    
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">enter the content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" , name="data" rows="3">{{entry}}</textarea>
      </div>
    <button type="submit" class="btn btn-primary" >SUBMIT</button>
    
    </form>



{% endblock %}